<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>hbase.rootdir</name>
        <value>file://{{ hbase_data_dir }}</value>
    </property>
    <property>
        <name>hbase.zookeeper.property.dataDir</name>
        <value>{{ zookeeper_data_dir }}</value>
    </property>
</configuration>
